$color__background-body = white
$color__background-screen = #f1f1f1
$color__background-hr = #cccccc
$color__background-input = transparent
$color__background-input-focus = #ecf0f1
$color__background-button = #333333
$color__background-button-hover = #000000
$color__background-pre = #eeeeee
$color__background-ins = #fff9c0

$color__text-screen = #21759b
$color__text-input = #666666
$color__text-input-focus = #111111

$color__link = #9c9c9c
$color__link-visited = #9c9c9c
$color__link-hover = #545454

$color__text-main = #404040

$color__border-button = #333333
$color__border-button-hover = #000000
$color__border-button-focus = #000000
$color__border-input = #cccccc
$color__border-input-focus = #ecf0f1
$color__border-abbr = #666666