.site-branding
	display block
	.site-title
		display block
		position relative
		margin 0
		a
			display block
			svg.icon
				width 190px
				height 83px
				+widerThan($mobileL)
					width 240px
					height 105px
	.site-description
		display none