.woocommerce-cart
    .entry-header
        h1
            border none
    .woocommerce-cart-form
        .cart
            a.remove
                color #545454 !important
            .actions
                .coupon
                    display flex
                    .input-text
                        width 160px
                    button.button
                        width auto
                        padding .618em 1.5em
                button.button
                    float right
                    width auto
                    padding .618em 1.5em