.woocommerce-checkout
    .woocommerce
        .woocommerce-form-coupon-toggle
            display none
        .woocommerce-input-wrapper
            .select2-container--defeault
                .select2-selection--single
                    border-radius 0
                    border-color #ccc
                    height auto
                    padding 7px
                    .select2-selection__arrow
                        height 100%
                        right 10px