#cookie-notice
	border-radius 10px
	bottom 8px
	.cookie-notice-container
		display flex !important
		justify-content space-between
		width 98%
		margin 0 auto
		text-align left
		align-items center
		#cn-notice-text
			display block
		.button
			&[data-cookie-set="accept"]
				color #000
			&[data-cookie-set="refuse"]
				background transparent
			&.cn-more-info
				border 0
				background 0
				text-decoration underline
				padding 0 7px