#cookie-notice
	min-width 70vw
	width 70vw
	left 50%
	transform translate(-50%)
	border-radius 10px
	bottom 8px
	.cookie-notice-container
		display flex
		justify-content space-between
		width 98%
		margin 0 auto
		text-align left
		align-items center
		#cn-notice-text
			display block
		.button
			&[data-cookie-set="refuse"]
				background transparent
			&.cn-more-info
				border 0
				background 0
				text-decoration underline
				padding 0 7px