.woocommerce
    .woocommerce-breadcrumb
        display none
    .product
        .cart
            button
                background-color #545454
    &.single-product
        .product
            .woocommerce-product-gallery
                display none
            .summary
                float none
                margin 1.5em auto
                .variations
                    td
                        vertical-align middle
                .single_variation_wrap
                    .single_variation
                        margin 0 0 1.5em 0
                    .woocommerce-variation-add-to-cart
                        .quantity
                            display none
                        .single_add_to_cart_button
                            padding 1.25em 0
                .product_meta
                    display none
            .woocommerce-tabs
                display none
        #secondary
            display none