.woocommerce
    button,
    a.button.alt
        background-color #545454
        &:hover
            background-color #444
        &:disabled[disabled]
            background-color #777
            &:hover
                background-color #777
    .cart_item
        .product-name
            .variation-From
                & > p
                    margin-top 0