.woocommerce
    button,
    a.button,
    a.alt
        background-color #545454
        &:hover
            background-color #444
    .cart_item
        .product-name
            .variation-From
                & > p
                    margin-top 0