// @import '../layout/_content-sidebar'
// @import '../layout/_sidebar-content'

/*--------------------------------------------------------------
## Header
----------------------------------------------------------------*/
@import 'primary/_header'

/*--------------------------------------------------------------
## Branding
----------------------------------------------------------------*/
@import 'primary/_branding'

/*--------------------------------------------------------------
## Posts and pages
----------------------------------------------------------------*/
@import 'primary/_posts-and-pages'

/*--------------------------------------------------------------
## General WooCommerce
----------------------------------------------------------------*/
@import 'primary/_woocommerce'

/*--------------------------------------------------------------
## WooCommerce Products
----------------------------------------------------------------*/
@import 'primary/_products'

/*--------------------------------------------------------------
## WooCommerce Cart
----------------------------------------------------------------*/
@import 'primary/_cart'

/*--------------------------------------------------------------
## WooCommerce Checkout
----------------------------------------------------------------*/
@import 'primary/_checkout'

/*--------------------------------------------------------------
## Content
----------------------------------------------------------------*/
@import 'primary/_content'

/*--------------------------------------------------------------
## Footer
----------------------------------------------------------------*/
@import 'primary/_footer'

/*--------------------------------------------------------------
// ## Asides
----------------------------------------------------------------*/
@import 'primary/_asides'

/*--------------------------------------------------------------
// ## Comments
----------------------------------------------------------------*/
@import 'primary/_comments'

/*--------------------------------------------------------------
// ## Cookie Banner
----------------------------------------------------------------*/
@import 'primary/_cookie-banner'