h1,
h2,
h3,
h4,
h5,
h6
	clear both
.page
	.entry-content
		> h2
			font-size 2em
			margin 0
			padding-bottom .5em
			font-weight 100
			text-transform uppercase
			letter-spacing 2px
			border-bottom 1px solid #f1f1f1